/* common styles or utilities */
body{
    max-width:1440px;
    background-color: #FFFFFF;;
}
/* header-title styles */
.header-title h3{
    font-size:24px;
    color: #3A3A3A;
    margin-left:120px;

}